---
---

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{site.title}}</title>

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{site.image}}">
    <meta property="og:url" content="{{site.url_website}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:site_name" content="{{site.title}}">

    {% include google_analytics.html %}

    <style>
        .order-book {
            background-color: {{site.promo.color}};
        }
    </style>

</head>

<body>


    <div class="navbar">

        <div id="menu-icon" class="menu-icon when-small" onclick="toggleMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div id="menu-container" class="when-large" onclick="toggleMenu()">
            <a class="resz" href="#rolam">Rólam</a>
            <a class="resz" href="#kotetek">Kötetek</a>
            <a class="resz" href="#antologiak">Antológiák</a>
            <a class="resz" href="#prozak">Prózák</a>
            <a class="resz" href="#versek">Versek</a>
            <a class="resz" href="#mesek">Mesék</a>
            <a class="resz" href="#media">Média</a>
            <a class="resz" href="#kapcsolat">Kapcsolat</a>
        </div>

    </div>



    <div id="main-content-container">


        {% if site.promo and site.promo != nil %}
        <div class="row large-bottom-margin">
            <div class="col-2" id="promo-padding-left">&nbsp;</div>
            <div class="col-4" id="promo-img">
                <a href="{{site.promo.main_link}}">
                    <img class="full-width" src="{{site.promo.img}}">
                </a>
            </div>
            <div class="col-4" id="promo-text">
                <p class="bio medium-top-margin">
                    {{site.promo.text}}
                </p>
                {% for praise in site.promo.praise %}
                <div class="medium-bottom-margin font-075em">
                    <p>„{{praise.quote}}”</p>
                    <p>&mdash;<em>{{praise.by}}</em></p>
                </div>
                {% endfor %}
                <div class="text-center medium-top-margin bold">
                    Megrendelhető
                </div>
                <div class="book-order-box slight-top-margin">

                    {% for order in site.promo.order_options %}
                    <div class="font-1em">
                        <a
                            class="order-book"
                            href={{order.link}}
                            style="background: {{site.promo.color}};"
                        >
                            {{order.store}}
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-2" id="promo-padding-right">&nbsp;</div>
        </div>
        {% endif %}





        <div id="rolam" class="row slight-top-padding pre-wrap addressable">
            <div class="col-12 agi normal-ws when-small">
                Makó Ágnes
            </div>
            <div class="col-12 normal-ws">
                <div class="col-8 float-left">
                    <img class="full-width" src="./assets/penkaracsony1.jpg">
                    <figcaption style="font-size: .5em; color: rgb(100, 100, 100);">Fotó: Székelyhidi Zsolt</figcaption>
                </div>
                <div class="agi when-large">Makó Ágnes</div>
                <p class="bio">
                    2018-ban kezdett írni, több kreatív írás kurzuson és mentorprogramban tanult.
                    2019 óta rendszeresen publikálja novelláit, verseit és meséit irodalmi folyóiratokban.
                    Idáig többek között a 2000, a Helikon, a Liget, a Parnasszus, a SiópArt, a SZIFONline és a Tiszatáj online közölte írásait.
                    <br />
                    <em>A részvétel nem önkéntes</em> című első novelláskötete 2023 júniusában jelent meg.
                    <br />
                    <em>Keressük</em> című novellája bekerült a <em>Körkép 2023</em> antológiába.
                    <br />
                    <em>Lobogni fog</em> című első verseskötete 2024 júniusában jelent meg.
                     <br />
                    Budapesten él.
                </p>
            </div>
        </div>




        {% for section in site.sections %}


        <div id="{{section}}" class="title text-center large-top-margin addressable">{{site.data[section].title}}</div>


        <div class="row-megjelenesek large-top-margin when-small">

            {% if site.data[section].expandable %}
            {% assign show_offset = site.entries_offset %}
            {% assign show_limit = site.entries_limit %}
            {% else %}
            {% assign show_offset = 0 %}
            {% assign show_limit = site.data[section].entries.size %}
            {% endif %}

            {% for megjelenes in site.data[section].entries offset:show_offset limit:show_limit %}
            {% include megjelenes.html megjelenes=megjelenes %}
            {% endfor %}
        </div>
        {% if site.data[section].expandable and site.data[section].entries.size > show_limit %}
        <div class="row-megjelenesek large-top-margin collapsible-content when-small">
            {% for megjelenes in site.data[section].entries offset:show_limit %}
            {% include megjelenes.html megjelenes=megjelenes %}
            {% endfor %}
        </div>
        <button class="collapsible-toggler when-small">
            Még több&hellip;
        </button>
        {% endif %}


        <div class="row-megjelenesek large-top-margin when-large">
            {% for megjelenes in site.data[section].entries %}
            {% include megjelenes.html megjelenes=megjelenes %}
            {% endfor %}
        </div>


        {% endfor %}




        <div id="kapcsolat" class="row large-top-margin addressable">
            <div class="col-12 title text-center">
                Email
            </div>
            <div class="col-12 text-center">
                mako_agnes [kukac] yahoo [pont] com
            </div>
        </div>




        <div class="row large-top-margin">
            <div class="col-12 text-center footer">&copy;2024 Makó Ágnes</div>
        </div>




        <button onclick="jumpToTop()" id="jump-to-top" title="Jump to top">
            <img src="assets/jump-to-top.svg" width="45px" />
        </button>


    </div>

    <script src="script.js"></script>

</body>

</html>

