---
---

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
</head>

<body>




    <div class="col-12 when-small">
        <div id="menu-icon" class="menu-icon" onclick="toggleMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <div id="menu" class="col-12 when-large" onclick="toggleMenu()">
        <a class="resz" href="#rolam">Rólam</a>
        <a class="resz" href="#prozak">Prózák</a>
        <a class="resz" href="#versek">Versek</a>
        <a class="resz" href="#mesek">Mesék</a>
        <a class="resz" href="#kapcsolat">Kapcsolat</a>
    </div>




    <div id="rolam" class="row">
        <div class="col-12 agi when-small">
            Makó Ágnes
        </div>
        <div class="col-8">
            <img class="bio-photo" src="./assets/penkaracsony1.jpg">
            <figcaption style="font-size: .5em; color: rgb(100, 100, 100);">Fotó: Székelyhidi Zsolt</figcaption>
        </div>
        <div class="col-4">
            <div class="agi when-large">Makó Ágnes</div>
            <p class="bio">
                2018 óta ír, több kreatív írás kurzuson és mentorprogramban tanult. 2019 óta rendszeresen publikálja
                novelláit, verseit és meséit irodalmi folyóiratokban. Első novelláskötete 2023-ban jelenik meg.
                Budapesten él.
            </p>
        </div>
    </div>





    <div id="prozak" class="title text-center large-top-margin">Prózák</div>

    <div class="row-megjelenesek large-top-margin">

        {% for megjelenes in site.data.prozak %}

        {% include
        megjelenes.html
        cim=megjelenes.cim
        link=megjelenes.link
        kep_link=megjelenes.kep_link
        kiadas=megjelenes.kiadas
        %}

        {% endfor %}

    </div>





    <div id="versek" class="title text-center large-top-margin">Versek</div>

    <div class="row-megjelenesek large-top-margin">

        {% for megjelenes in site.data.versek %}

        {% include
        megjelenes.html
        cim=megjelenes.cim
        link=megjelenes.link
        kep_link=megjelenes.kep_link
        kiadas=megjelenes.kiadas
        %}

        {% endfor %}

    </div>




    <div id="kapcsolat" class="row large-top-margin">
        <div class="col-12 title text-center">
            Email
        </div>
        <div class="col-12 text-center">
            mako_agnes [kukac] yahoo [pont] com
        </div>
    </div>




    <div class="row large-top-margin">
        <div class="col-12 text-center footer">&copy;2023 Makó Ágnes</div>
    </div>




    <script>
        function toggleMenu() {
            document.getElementById("menu").classList.toggle("when-large");
            document.getElementById("menu-icon").classList.toggle("change");
        }
    </script>

</body>

</html>
