<div class="text-center font-1em addressable" id="{{include.megjelenes.id}}">
    {% if include.megjelenes.link %}
    <a class="megjelenes-link" href={{include.megjelenes.link}} target=”_blank”>
        <img class=" megjelenes-kep" src={{include.megjelenes.kep_link}} />
        <div>{{include.megjelenes.cim}}</div>
    </a>
    <div>{{include.megjelenes.kiadas}}</div>
    {% endif %}
    {% if include.megjelenes.embed %}
    <div class="embed-container">
        <iframe src={{include.megjelenes.embed}} allowfullscreen></iframe>
    </div>
    <div class="megjelenes-link">{{include.megjelenes.cim}}</div>
    <div>{{include.megjelenes.kiadas}}</div>
    {% endif %}
</div>
